.main {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 228, 228);
  text-align: center;
  border: 3px;
  list-style: 0;
}

.signs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.sign {
  margin: 0 40px 0 40px;
}

.zodiac_sign {
  width: 100px;
  height: 100px;
}

/* .horoscope {
  margin: 10px;
} */

a {
  text-decoration: none;
  color: inherit;
}